* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  padding: 10px 0;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.wrapper {
  min-width: 700px;
  height: 100%;
  position: relative;
}

section {
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
}

hr {
  visibility: hidden;
  margin: 1em 0;
}

#toolbar {
  padding: 0 1em;
  height: 50px;
  background-color: #282828;
  border-radius: 0.5em 0.5em 0 0;
}

.btn {
  float: left;
  padding: 0.7em 1.3em 0.7em 1.1em;
  margin: 0.6em 0.5em 0.5em 0;
  background-color: #008CBA;
  border-radius: 0.5em;
  font-size: 0.8em;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: #007BA3;
}

.btn:active {
  background-color: #006B8F;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.fa {
  margin-right: 5px;
}

.submit {
  float: right;
  margin-right: 0;
}

.close {
  display: inline-block;
  float: none;
}

.instructions {
  float: right;
}

#code {
  position: relative;
  height: calc(100% - 50px);
  padding: 1em 2em;
  background-color: #333;
  border-radius: 0 0 0.5em 0.5em;
  overflow: scroll;
}

#code > div {
  white-space: nowrap;
}

.block,
.blank {
  display: inline-block;
  padding: 0.5em;
  background-color: #eee;
  border: 4px solid #333;
  border-width: 2px 8px;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 11px;
  font-weight: 600;
  color: #111;
  cursor: pointer;
}

.blank {
  visibility: hidden;
}

.ui-selecting,
.ui-selected {
  background-color: #A4E7FF;
}

.tab {
  position: relative;
  display: inline-block;
  width: 1.5em;
  height: 1em;
  color: #999;
}

.tab:after {
  content: "\00b7";
  position: absolute;
  right: 4px;
  top: 2px;
}


.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
  padding: 6em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
}

.modal-inner {
  width: 100%;
  padding: 2em;
  background-color: #eee;
  border-radius: 0.5em 0.5em 0 0;
  color: #222;
  overflow-y: scroll;
}

.modal-footer {
  padding: 2em;
  background-color: #eee;
  border-radius: 0 0 0.5em 0.5em;
  text-align: center;
}

#instructions {
  text-align: center;
}

#instructions .code {
  display: inline-block;
  margin-top: 1em;
  text-align: left;
}

#instructions code {
  display: inline-block;
  padding: 5px 8px;
  margin-bottom: 2px;
  background-color: #ccc;
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 600;
}

#instructions .indent {
  /*margin-left: 10px;*/
}

#instructions .indent:before {
  content: "→";
  padding-right: 5px;
  color: #008CBA;
}

#instructions .indent2 {
  /*margin-left: 20px;*/
}

#instructions .indent2:before {
  content: "→ →";
  margin-right: 5px;
  color: #008CBA;
}

#score {
  text-align: center;
}
