body {

  h1 {
    a {
      color: #666;
      text-decoration: none;
    }
    margin: 0;
    color: #333;
    font-size: 4em;
    text-align: center;
  }

  nav {
    .menu-item {
      color: blue;
      li {
        a {
          text-align: left;
          text-decoration: none;
        }
      }
    }
  }

  @media (max-width: 480px) {
    input {
      padding: 1em;
      border: none;
    }
    .btn {
      border-color: blue;
      border-radius: 3px;
    }
  }

}